<?xml version="1.0"?>
<!-- 
/**
 * @category   [Namespace]
 * @package    [Namespace]_[Module]
 * @author     ModuleCreator
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 -->
<config>
    <modules>
        <Rad_Merchant>
            <version>0.1.0</version>
        </Rad_Merchant>
    </modules>
    <frontend>
        <routers>
            <merchant>
                <use>standard</use>
                <args>
                    <module>Rad_Merchant</module>
                    <frontName>merchant</frontName>
                </args>
            </merchant>
        </routers>
        <!--<layout>
            <updates>
                <merchant>
                    <file>merchant.xml</file>
                </merchant>
            </updates>
        </layout>-->
    </frontend>
    <admin>
        <routers>
        <merchant>
            <use>admin</use>
            <args>
                <module>Rad_Merchant</module>
                <frontName>merchant</frontName>
            </args>
        </merchant>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <merchant module="merchant">
                    <title>Merchant</title>
                    <sort_order>71</sort_order>               
                    <children>
                            <items module="merchant">
                                    <title>Manage Merchant</title>
                                    <sort_order>0</sort_order>
                                    <action>merchant/adminhtml_merchant</action>
                            </items>
                    </children>
            </merchant>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                            <Rad_Merchant>
                                    <title>Merchant Module</title>
                                    <sort_order>10</sort_order>
                            </Rad_Merchant>
                    </children>
                </admin>
            </resources>
        </acl>
            <layout>
                <updates>
                    <merchant>
                        <file>merchant.xml</file>
                    </merchant>
                </updates>
            </layout>
    </adminhtml>   
    <global>
        <models>
            <merchant>
                <class>Rad_Merchant_Model</class>
                <resourceModel>merchant_mysql4</resourceModel>
            </merchant>
            <merchant_mysql4>
                <class>Rad_Merchant_Model_Mysql4</class>
                <entities>
                    <merchant>
                        <table>merchant</table>
                    </merchant> 
		   <merchanttrans>
                        <table>drg_orderdynamicpayment</table>
                    </merchanttrans>
                   <merchantitem>
                       <table>drg_orderdynamicpaymentitem</table>
                   </merchantitem>
                    <merchantmap>
                        <table>drg_customercardonfileindicator</table>
                    </merchantmap>
                </entities>
            </merchant_mysql4>
        </models>
        <resources>
            <merchant_setup>
                <setup>
                    <module>Rad_Merchant</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </merchant_setup>
            <merchant_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </merchant_write>
            <merchant_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </merchant_read>
        </resources>
        <blocks>
            <merchant>
                <class>Rad_Merchant_Block</class>
            </merchant>
        </blocks>
        <helpers>
            <merchant>
                <class>Rad_Merchant_Helper</class>
            </merchant>
        </helpers>
		 <events>
    		<sales_order_failure>
    			<observers>
                            <merchant>
                                    <type>singleton</type>
                                    <class>merchant/observer</class>
                                    <method>storeTransaction</method>
                            </merchant>
    			</observers>
    		</sales_order_failure>
    	</events>
    </global>
</config>
